body {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Domine', serif;
    margin: 0px;
}

.focused-area {
    display: flex;
    margin: 20px 20px;


}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.border {

    font-size: 30px;
    box-shadow: none;
    border-left: 5px solid;
    border-color: rgb(255, 0, 132);
    border-radius: 3px;
    padding-left: 10px;

}

.first-title {
    color: rgb(167, 22, 22);
}

.button {
    text-decoration: none;
    color: aliceblue;
    background-color: crimson;
    padding: 10px 20px;
    border-radius: 3px;
}

.paragraph {
    text-align: justify;
    color: rgb(88, 85, 85);
}

.half-width img {
    width: 70%;
}

.box-area {
    padding: 10px 20px;
}

.card-area {
    display: flex;
    padding: 10px 30px;

}

.text-h2 {
    color: rgb(17, 17, 57);
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

span {
    color: orange;
}

.card-1 {
    background-color: rgb(175, 202, 202);
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.card-2 {
    background-color: burlywood;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.card-3 {
    background-color: rgb(162, 201, 168);
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}

.image-icon {
    height: 120px;
}

.developer-skills {
    display: flex;
    margin: 20px 20px;
    padding: 20px 10px;
    background-image: url(pictures/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-y: top;

}

#img-area {
    padding-left: 50px;
    width: 100%;
}

#text {
    padding-top: 10%;
    padding-right: 50px;
}

.idea-timeline-area {
    display: flex;
    padding: 20px 30px;
    background-image: url(pictures/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 70%;
    background-position-x: 90%;
}

.idea-timeline {
    width: 50%;
    margin: 20px 30px;
}

#idea-timeline-img {

    width: 70%;

}

#project-png {}


.box-icon img {
    height: 40px;
    width: 40px;
    display: flex;

}

.skills-area {
    display: flex;
}

.experties-area {
    width: 50%;
    margin-right: 0%;
    margin-left: 50px;
    padding-left: 100px;
    padding-right: 0%;


}

.box {
    background-color: rgb(247, 238, 238);
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 21px;
    border-radius: 5px;


}

.box-text h4 {
    margin: 0%;
}

.box-text p {
    font-size: small;
    margin: 0%;
    color: brown;

}

#experties-img {
    margin-left: 0%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.footer {

    background-color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
}

.footer-pera {
    color: antiquewhite;
    font-size: small;
}